
*{
    margin: 0;
    object-fit: cover;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
@font-face {
     font-family: UberMove;
      src: url(font/14f73a3f74611002.woff2);
}
@font-face {
    font-family: UberMoveText;
    src: url(font/276edd4275dda838.woff2);
}
@font-face {
    font-family: UberMoveText-Medium;
    src: url(font/eee1724e2e5a8ebd.woff2);
}
@font-face {
    font-family: Roboto;
    src: url(font/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face {
    font-family: Roboto-medium;
    src: url(font/KFOlCnqEu92Fr1MmEU9fBBc4\(1\).woff2);
}

header{
       background: center / cover no-repeat url(/image/ubereats.png);
    box-sizing: border-box;
    height:100vh;
    /* object-fit: cover; */
    width: 100%;
    /* object-fit: contain; */

}
.header-container{
    gap: 15px;
    margin-top: 4px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 10px;
    cursor: pointer;
    /* width:21%; */
}
    .header-container :hover{
      color: #817c7c;
    }
.famous{
    display: flex;
    flex-direction: column;
    margin-top: 333px ;
    
}

.nav-bar{
/* width: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.home-section{
        display: flex;
        align-items: center;
        gap:40px;
    }
    .menu img{
        transform: translateY(9px);
    }

.sign-in-button{
   width: 73.7px;
   height: 36px;
align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000000;
    
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: UberMoveText-medium;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    border-radius: 500px;
    border: none;
    line-height: 16px;

     
}
.logo-uber{
    transform: translateX(-18px);
    padding-top: 10px;
}
.logo-uber img{
    margin-top: 8px;
}
.Log-in-btn{

width: 63.8667px;
height: 36px;
transform: translateX(-1px);
}
.Log-in-btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px, rgba(0, 0, 0, 0.04) 0px 4px 4px 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
display: flex;
font-family: UberMoveText-Medium;
font-size: 14px;
font-weight: 500;
height: 36px;
justify-content: center;
line-height: 16px;
text-align: center;
align-items: center;
border: none;
background-color: #ffffff;
border-radius: 500px;

}

.auth {
    margin-top: 70px;
    margin-left: 0;
}
.auth img{
    width: 600px;
    margin:0px;
    height: 282.89px;
    

}
.auth p { 
    text-decoration: underline;
}
.auth-main{
         margin-top: 70px; 
                width: 100%;  
}
.auth-main img{
width: 30%;
    object-fit: cover;
    height: 282.89px;
    
}
.auth-main p{
    text-decoration: underline;
}
.auth-side{
     margin-top: 70px;
     max-width: 527px;

}
.auth-side img{
     width: 100%; 
     height: 282.89px;
    
}

.auth-side p{
    text-decoration: underline;
}
.crave-main{
    display: grid;
}
 
.banner-container{
  
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    height: 56px;
}

input{
    /* position: relative; */
    height: 56px;
    /* padding: 20px; */
    width: 500px;
    padding-left: 20px;
    border: none;
    /* margin-top: 12px; */
color: #a7a7a7;
font-size: 16px;
font-weight: 400;
letter-spacing: normal;
line-height: 24px;
appearance: none;
/* color: rgb(0, 0, 0); */
font-family: UberMoveText;
font-size: 16px;
line-height: 24px;

}
.banner-container form ::placeholder{
    padding-left: 36px;
    font-weight: 400;
font-family: UberMoveText-Medium;
font-weight: 400;
    font-size: 16px;
    border: none;
    font-size: 16px;
    color: inherit;
    transform: translateY(-1px);
}

.search-here{
    
    border-radius: 8px;
    width: 132.3px;
    height: 56px;
    align-items: center;
background-color: rgb(0, 0, 0);
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: flex;
font-family: UberMoveText-medium;
font-size: 18px;
font-weight: 500;
height: 56px;
justify-content: center;
letter-spacing: normal;
line-height: 24px;
border: none;
margin-left: 8px;

     
     }
    
     .banner-heading{
        /* width: 100%; */
        display: flex;
        margin-left: 40px;

     }
   .banner-heading h1{
    width: 607.8px;
            /* transform: translateY(323px); */
        
       color: rgb(0, 0, 0);
display: block;
font-family: UberMove;
font-size: 52px;
font-weight: 700;
height: 64px;
line-height: 64px;

   }
   .nav-bar{
    padding: 0 40px;
   }
  form{
    display: flex;
    gap: 3px;
  }

.banner-container-logo{
    display: flex;
    /* transform: translateY(363px); */
    /* text-align: center; */
    margin-left: 10px;
      
}
 
 .contries-uber{
    justify-content: space-between;
    display: block;
    text-size-adjust: 100%;
    font-family: UberMoveText, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 24px;
 }
.countries-uber h1{
    font-size: 36px;
    padding-top: 44px;
    padding-left: 40px;
    padding-bottom: 44px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 44px;

}
.view{
    display: flex;
    justify-content: right;
    margin-top: -72px;
    font-size: 16px;
    padding-right: 40px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
.countries-list ul{
    margin-left: 10px;
}
.countries-list ul{
    display: grid;
    grid-template-columns: 266.25px 266.25px 266.25px 200.25px;
    grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px;
    margin-top: 24px;
    row-gap: 24px;
    grid-auto-flow: column;
    column-gap: 20px;
    text-size-adjust: 100%;
    width: 85%;
    justify-content: space-between;
    margin-top: 24px;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
}
.countries ul{
    display: grid;
    grid-template-columns: 266.25px 276.25px 230.25px  236.25px;
    grid-template-rows: 24px 24px 24px 24px 24px 24px ; 
    margin-top: 24px;
    row-gap: 24px;
    grid-auto-flow: column;
    column-gap: 20px;
    width: 85%;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;;
     
}
.map{
    display: block;
    height: 360px;
    margin-top: 20px;
    width: 100%;

}
.map img{
    padding-left: 35px;
   background-size: cover;
    box-sizing: border-box;
}
.bottom-uber img{
    display:flex;
    margin-top: 80px;
    margin-bottom: 64px;
    padding-bottom: 88px;
    padding-left: 260px;
    padding-top: 72px;
    text-size-adjust: 100%;
}
 
.end-card ul {
    text-decoration: none;
    list-style: none;
    font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.017px;
    width: 280px;

}
.end-card{
    height: 40px;
    display: grid;
    line-height: 30px;
    grid-gap: 100px;
    grid-template-columns: 200px 200px;
    justify-content: right;
    justify-content: end;
    padding-right: 450px;
    transform: translateY(-180px);
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crave-main h1{
    padding-left: 35px;
  }
  
  .play img{
    width: 134px;
  }
  .apple-play{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-right: 950px;
    transform: translateY(-190px);
    margin-top: 180px;
  }
.footer{
     display: flexbox;
     justify-content: space-around; 
}
.footer-left{
    display: flex;
    gap: 32px;
    padding-left: 300px;
    transform: translateY(-110px);

}
.right-footer{
    width: 100%;
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin-top: -130px;
    /* padding-left: 260px; */
    padding-bottom: 100px;
    
}
.right-footer .policy{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-top: 0px;
}
.right-footer li{
    display: flex;
}
.terms {
    display: flex;
    padding: 0;
    margin-top: 18px;
    
}
.last-footer .span{
    display: flex;
    align-items: end;
    justify-content: right;
    width: 80%;
    gap: 50px;
}
.last-footer{
    display: flex;
    
    /* justify-content: center; */
    width: 100%;
    margin: 0;
    transform: translateX(-270px);
    justify-content: flex-end;
    /* transform: translateY(-20px); */
    /* margin-left: 350px; */
}
.right-footer .policy ul li{
    width:10px;
    font-size: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.english{
    display: flex;
    width: 90%;
   align-items: center;
   transform: translate(342px);
   transform: translateY(-100px);
   padding-left:340px;
    
}
.english img{
    position: absolute;
    align-items: center;
    justify-content: center;
}
.english ul{
    transform: translateX(-15px);
    justify-content: center;
    align-items: center;
}

.banner-container-logo{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}
.clock-img{
    
    display: flex;
    /* padding: 20px; */
    
    width: 191.23px;
    height: 56px;
    /* margin-left: -41px; */
    cursor:pointer;
    align-items: center;
    /* transform: translateY(20px); */
    /* position: relative; */
    background-color: #ffffff;
    margin-left: 8px;
}
.clock-img img{
    /* position: absolute; */
    margin-left: 16px;
    margin-top: 0px;
    /* top: 20px; */
    /* left: 20px; */
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-right: 12px;
    
}
.mute{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    
}
.mute p{
width: 87.23px;
height: 20px;
color: rgb(0, 0, 0);
cursor: pointer;
display: flex;
flex-direction: column;
font-family: UberMoveText-Medium;
font-size: 16px;
font-weight: 500;
line-height: 20px;

}
select {
    height: 56px;
    width: 139.23px;
    /* transform: translateX(-px); */
    /* margin-left: 20px; */
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 20px;
border: none;
background-color: #ffffff;
margin-left: 10px;
padding-left: 20px;
gap: 20px;
display: flex;

}
 
.second{
    display: flex; 
       font-size: 14px;
    /* margin-top: -10px; */
    letter-spacing: 0.12px;
    font-family: UberMoveText-Medium;
 margin-left: 40px;
 margin-top: 24px;
 /* width: 100%; */
 height: 16px;
    }
    .second p{
        text-decoration: underline;
        color: rgb(0, 0, 0);
cursor: pointer;
font-family: UberMoveText-Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
margin-left: 3px;
letter-spacing: 0.12px;

    }
    
    
    .auth-section-main h1{
        font-size: 28px;
        font-family: Ubermove, sans-serif;
        cursor: pointer;
            justify-content: center;
                line-height: 49px;
    }
    .auth-section-main p{
         font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-weight: 450;
         cursor: pointer;
         font-size: 15.89px;
         width: 100%;
        }
        .crave-main .me{
            margin:0;
            margin-top: 165px;
            display: flex;
            justify-content: space-between;
            text-decoration-style: solid;
            list-style: 20px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 20px;
        }
        .me h1{
            color: rgb(0, 0, 0);
display: block;
font-family: UberMove, sans-serif;;
font-size: 36px;
font-weight: 700;
height: 44px;
line-height: 44px;
      }
      .me span{
        /* margin-right: 50px; */
        text-decoration: underline;
        margin-top: 20px;
      }
select #form{
    justify-content: center;
    align-items: center;
}
.auth-section-main{
    display: grid;
    grid-template-columns: 600px 600px 500px;
    
    gap: 15px;

}
.banner-container img{
    position: absolute;
    z-index: 3;
    margin-top: 16px;
    transform: translateX(16px);
}
.banner-container-logo{
    align-items: center;
    display: flex;
    margin-top: 40px;
}
